@use '../../../assets/styles/variables' as *;

.cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}
.cart_active {
  opacity: 1;
  visibility: visible;
}
.cart__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.cart__overlay_active {
  opacity: 1;
}
.cart__sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 375px;
  background: #fff;
  height: 100vh;
  z-index: 2;
  padding: 20px;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
  overflow-y: auto;
}
.cart__sidebar_active {
  transform: translateX(0);
}
.cart__head {
  position: relative;
  margin-bottom: 40px;
}
.cart__title {
  text-align: center;
  font-family: $Cooper;
  font-weight: 400;
  font-size: 35px;
  color: $dark;
}
.cart__content {
  height: calc(100% - 89px - 74px);
  overflow-y: auto;
}
.cart__close {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border: 0;
  background: none;
  span {
    display: block;
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: $dark;
    left: 0;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(135deg);
    }
  }
}
.cart__empty {
  font-weight: 350;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $dark;
  max-width: 236px;
  margin: 38px auto 0;
}
.cart__ad {
  margin: 45px 0 10px;
}
.cart__total {
  margin-top: 10px;
}
.cart__checkoutNow {
  margin-top: 20px;
}
