.main {
  padding: 64px 16px 128px;

  .title {
    font-weight: 900;
    font-size: 44px;
    max-width: 90vw;
    text-align: center;
    margin: 0 auto 100px;

    .highlight {
      background: -webkit-linear-gradient(
        left,
        #38bdf8,
        var(--color-primary-600)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
    gap: 32px;

  }
  .card {
    height: 100%;
    &:hover {
      box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%);
    }
  }
}
