@font-face {
  font-family: "Cooper Lt BT";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/CooperBTLight/font.woff2") format("woff2"), url("../fonts/CooperBTLight/font.woff") format("woff");
}

@font-face {
  font-family: "Neue Haas Unica Pro";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/NeueHaasUnicaThin/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaThin/font.woff") format("woff");
}
@font-face {
  font-family: "NeueHaasUnicaUltraLight";
  font-weight: 350;
  font-style: normal;
  src: url("../fonts/NeueHaasUnicaUltraLight/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaUltraLight/font.woff") format("woff");
}
//@font-face {
//  font-family: "Neue Haas Unica Pro";
//  font-weight: 350;
//  font-style: normal;
//  src: url("../fonts/NeueHaasUnicaLight/font.woff2") format("woff2"),
//    url("../fonts/NeueHaasUnicaLight/font.woff") format("woff");
//}
@font-face {
  font-family: "Neue Haas Unica Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NeueHaasUnicaRegular/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaRegular/font.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Unica Pro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NeueHaasUnicaMedium/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaMedium/font.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Unica Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NeueHaasUnicaBold/font.woff2") format("woff2"),
    url("../fonts/NeueHaasUnicaBold/font.woff") format("woff");
}
